# resources files
resources/classification/*
!resources/classification/data_list.yaml
resources/regression/*
!resources/regression/data_list.yaml

# project files
.venv/
poetry.lock
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyi
*.pyz
*.pyzw
*.build/
*.cache/
*.log
